{% extends "layout.html" %}

{% block content %}
    <div class="row text-center mt-4 mb-4">
        <div class="col-12">
            <h2>Registro de Usuario</h2>
        </div>
    </div>
    <div class="row">
        <div class="col"></div>
        <div class="col-4 align-self-center">
            <form class="form-signin" role="form">
                <input type="text" name="nom" class="form-control" value="{{nom}}" readonly>
                <input type="text" name="trol" class="form-control" value="{{ncontrol}}" readonly>
                <button type="button" class="btn btn-primary">Enviar</button>
            </form>
        </div>
        <div class="col"></div>
    </div>
{% endblock %}